body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  background-color: #849d8f;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
}

img {
  display: block;
}

.btn {
  border: none;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  color: #ffffff;
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 20px;
  cursor: pointer;
}

.btn:hover {
  background-image: linear-gradient(to top, #ec6f5e, #f58669);
  box-shadow:  0px 2px 5px 0px #a0200b;
}

.btn:active {
  background-image: linear-gradient(to bottom, #d74632, #e1613e);
  box-shadow: inset 0 2px 2px #942718;
}

.site-wrapper {
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease,
      background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper-after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/fone-2.png");
}

.site-wrapper::after{
  background-image: url("../img/fone-3.png");
  }

.content-wrapper {
  position: relative;
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
}

.main-header {
  padding-right: 2.3%;
  padding-left: 2.3%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  align-items: flex-start;
  align-content: flex-start;
}

.logo {
  margin-right: 10px;
  padding-top: 10px;
}

.main-menu {
  width: 60%;
  margin: 0;
  margin-right: 2.2%;
  padding: 0;
  padding-top: 30px;
  list-style: none;
  font-size: 0;
}

.inner-menu {
  position: absolute;
  top: 100%;
  left: auto;
  width: 145px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 10;
}

.main-menu li {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  vertical-align: top;
}

.main-menu > li:hover .inner-menu {
  display: block;
}

.main-menu a {
  position: relative;
  padding: 9px 14px;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

.main-menu a.active {
  background-color: #d07058;
  border-radius: 20px;
}

.main-menu a:hover {
  color: #333333;
  background-color: #f7f6f3;
  border-radius: 20px;
  padding: 9px 14px;
}

.main-menu a:active {
  color: #333333;
  background-color: #f7f6f3;
  border-radius: 20px;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.main-menu a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 9px;
  right: 14px;
  left: 14px;
  height: 1px;
  background-color: #ffffff;
  opacity: 0.2;
}

.main-menu a:hover::after,
.main-menu a.active::after,
.main-menu a:active::after {
  display: none;
}

.inner-menu li {
  display: inline-block;
  width: 100%;
  padding: 0;
}

.inner-menu a {
  display: inline-block;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 21px;
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

.inner-menu a:hover {
  background-color: #fbded7;
  border-radius: inherit;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 21px;
}

.inner-menu a:active {
  background-color: #f6b5a5;
  border-radius: 0;
  box-shadow: none;
}

.inner-menu a.active {
  background-color: #d07058;
  border-radius: 0px;
  color: #ffffff;
}

.inner-menu:first-child a,
.inner-menu:last-child a {
  border-radius: 5px;
}

.inner-menu .new {
  position: relative;
  font-weight: bold;
}

.inner-menu .new::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 6px;
  left: 6px;
  background-color: #323232;
  opacity: 0.2;
}

.user-navigation {
  width: 267px;
  margin: 0;
  padding: 0;
  padding-top: 22px;
  padding-left: 7px;
  list-style: none;
  font-size: 0;
  flex-shrink: 0;
}

.icon-search {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  padding-bottom: 5px;
}



.icon-search a {
  display: block;
  width: 33px;
  height: 33px;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: -2px -1293px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 0;
}

.icon-search a:hover {
  background-color: #f8f7f4;
  background-position: -2px -1330px;
}

.icon-search .search-form {
  position: absolute;
  width: 341px;
  top: 100%;
  left: -307px;
  padding: 20px 15px;
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 10;
  display: none;
}

.search-form input {
  display: block;
  width: 313px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 15px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #323232;
  background-color: #ffffff;
  border: 1px solid rgb(211, 211, 210);
  border-radius: 5px;
}

.search-form input:hover {
  border: 2px solid rgb(211, 211, 210);
}

.search-form input:focus {
  border: 2px solid #8fbdec;
  outline: none;
}

.search-form label {
  position: absolute;
  top: 33px;
  left: 30px;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #999999;
}

.search-form input:focus + label {
  transform: translateY(-27px);
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;
}

.icon-search:hover .search-form {
  display: block;
}

.login {
  position: relative;
  margin-right: 9px;
  display: inline-block;
  vertical-align: top;
  padding-bottom: 5px;
}

.login .login-link {
  display: block;
  position: relative;
  width: 93px;
  padding-left: 43px;
  padding-top: 9px;
  padding-bottom: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

.login .login-link:hover {
  color: #000000;
  background-color: #f8f7f4;
}

.login .login-link::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 15px;
  width: 21px;
  height: 19px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: -10px -554px;
}

.login .login-link:hover::before {
  background-position: -10px -593px;
}

.login .login-form {
  position: absolute;
  top: 100%;
  left: -182px;
  width: 277px;
  padding-top: 20px;
  padding-bottom: 22px;
  padding-left: 19px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  z-index: 10;
  display: none;
}

.login-form input {
  display: block;
  width: 243px;
  margin-bottom: 20px;
  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 15px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #323232;
  background-color: #ffffff;
  border: 1px solid rgb(211, 211, 210);
  border-radius: 5px;
}

.login-form input:hover {
  border: 2px solid rgb(211, 211, 210);
}

.login-form input:focus {
  border: 2px solid #8fbdec;
  outline: none;
}

.login-form label {
  position: absolute;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #999999;
}

.login-form label[for="mail"] {
  top: 33px;
  left: 35px;
}

.login-form label[for="password"] {
  top: 100px;
  left: 35px;
}

.login-form input:focus + label {
  transform: translateY(-27px);
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;
}

.login-form-btn {
  display: inline-block;
  vertical-align: top;
  padding: 12px 25px;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
  font-weight: bold;
}

.login-form .links-container {
  display: inline-block;
  vertical-align: top;
  margin-left: 21px;
}

.login-form a {
  display: block;
  vertical-align: top;
  font-size: 13px;
  font-weight: 34px;
  color: #323232;
}

.login-form a:hover,
.login-form a:active {
  color: #e84d37;
}

.login:hover .login-form {
  display: block;
}
.busket {
  position: relative;
  margin-right: 0;
  display: inline-block;
  vertical-align: top;
  padding-bottom: 5px;
}

.busket .busket-empty {
  display: block;
  position: relative;
  width: 115px;
  padding-top: 9px;
  padding-bottom: 8px;
  padding-left: 42px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
}

.busket .busket-empty::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  width: 21px;
  height: 20px;
  background-position: -10px -134px;
  transform: translateY(-50%);
}

.busket .busket-full {
  display: block;
  position: relative;
  width: 115px;
  padding-top: 9px;
  padding-bottom: 8px;
  padding-left: 42px;
  background-color: rgba(248, 247, 244, 0.99);
  border-radius: 20px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #323232;
}

.busket .busket-full::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  width: 21px;
  height: 20px;
  background-position: -10px -174px;
  transform: translateY(-50%);
}

.busket .busket-content {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  width: 540px;
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 12px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  background-color: rgb(248, 247, 244);
  border-radius: 5px;
  z-index: 1;
}

.busket:hover  .busket-full + .busket-content {
  display: block;
}

.busket-content-table {
  margin-bottom: 18px;
  border-collapse: collapse;
  border-bottom: 1px solid #cacac7;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  font-weight: 400;
  vertical-align: top;
}

.busket-content-table .remove {
  position: relative;
  width: 15px;
  cursor: pointer;
}

.busket-content-table .remove-button {
  border: 0;
  position: relative;
  background-color: transparent;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.busket-content-table .remove-button::before,
.busket-content-table .remove-button::after {
  content: "";
  position: absolute;
  left: 0;
  width: 15px;
  height: 1px;
  background-color: #000000;
}

.busket-content-table .remove-button::before{
  transform: rotate(45deg);
}

.busket-content-table .remove-button::after {
  transform: rotate(-45deg);
}

.busket-content-table .td-title {
  position: relative;
  padding-left: 58px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  width: 305px;
}

.busket-content-table .td-title::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 8px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.table-row-1 .td-title::before {
  background-position: -10px -971px;
}

.table-row-2 .td-title::before {
  background-position: -10px -1024px;
}

.td-weight {
  width: 120px;
}

.td-weight span {
  color: #9f9f9f;
}

.td-price {
  width: 68px;
}

.busket-content .sum {
  display: block;
  margin-bottom: 16px;
  text-align: right;
  color: #323232;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
}

.busket-content .btn-busket {
  display: block;
  float: right;
  width: 170px;
  padding: 10px 12px;
  color: #fefefe;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
}

.contacts {
  width: 100%;
  margin-top: 18px;
  display: inline-block;
  vertical-align: top;
}

.contacts .time {
  display: block;
  margin-bottom: 5px;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.contacts .phone {
  display: block;
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
  font-weight: bold;
  text-align: right;
}

.slider {
  position: relative;
  margin-bottom: 42px;
  padding-top: 275px;
  color: #ffffff;
  text-align: center;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
}
.slide {
  margin: 0 auto;
  display: none;
}

.slide-btn {
  display: inline-block;
  margin: 0 auto;
  padding: 9px 40px;
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  border-radius: 100px;
}

.slider-controls label {
  display: inline-block;
  width: 21px;
  height: 21px;
  vertical-align: top;
  margin-right: 8px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.site-wrapper label[for="btn-1"]:hover,
.site-wrapper label[for="btn-2"]:hover,
.site-wrapper label[for="btn-3"]:hover {
  background-color: rgba(248, 247, 244, 0.4);
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

body > input[type="radio"] {
  display: none;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

#btn-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/fone-1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/fone-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/fone-3.png");
}

.promo {
  display: flex;
  margin-bottom: 40px;
  }

.promo .promo-content {
  position: relative;
  width: 47.75%;
  min-height: 230px;
  flex-grow: 1;
  padding: 17px 19px;
  color: #ffffff;
  border-radius: 15px;
}

.promo .promo-1 {
  margin-right: 2.2%;
  background: #45010e;
  background-image: url("../img/raspberry.jpg");
  background-repeat: no-repeat;
  background-position: top -50%;

}

.promo .promo-2 {
  background: #734733 url("../img/chocolate.jpg") no-repeat;
}

.promo-content .promo-title {
  margin: 0;
  margin-bottom: 14px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 500;
}

.promo-content p {
  margin: 0;
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

.promo-content .promo-btn {
  position: absolute;
  bottom: 25px;
  right: 19px;
  padding: 10px 24px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 100px;
  text-decoration: none;
  font-weight: 500;
}

.hits {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 38px;
}

.hits .hit-item {
  position: relative;
  width: 23.35%;
  margin-right: 2.2%;
  text-align: center;
}

.hits .hit-item:nth-child(4n) {
  margin-right: 0;
}

.hits .hit-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background: #ffffff url("../img/sprite.png") no-repeat -10px -821px;
  border-radius: 50%;
  z-index: 12;
}

.hit-item-extra {
  display: none;
  position: absolute;
  top: -6px;
  bottom: -75px;
  left: -14px;
  right: -14px;
  padding-top: 339px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  z-index: 10;
}

.hit-item:hover .hit-item-extra {
  display: block;
}

.hit-item-extra a {
  position: absolute;
  width: 200px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 11px 0px;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.hit-preview {
  position: relative;
  z-index: 11;
  margin-bottom: 12px;
}

.hits img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  position: relative;
}

.hit-item .hit-title {
  position: relative;
  margin: 0;
  padding: 0 5px;
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-decoration: underline;
  z-index: 11;
}

.hit-item .hit-title:hover,
.hit-item .hit-title:active {
  color: #ffbc9e;
}

.hit-item .hit-price {
  position: absolute;
  left: 0;
  bottom: 9px;
  color: #ffffff;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  font-weight: bold;
  z-index: 10;
}

.rubles {
  display: inline-block;
  vertical-align: bottom;
  font-size: 45px;
  padding-right: 5px;
}

.rubles::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 31px;
  height: 45px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: -8px -9px;
}

.kg {
  font-size: 30px;
}

.features {
  margin-bottom: 40px;
  padding: 25px 20px;
  padding-right: 25px;
  padding-bottom: 3px;
  background: #eadabd url("../img/pattern-3.jpg") no-repeat 0px -12px;
  border-radius: 15px;
}

.features .features-title {
  margin: 0;
  margin-bottom: 20px;
  color:#323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item {
  position: relative;
  width: 48.9%;
  margin-bottom: 22px;
  margin-right: 2.2%;
  padding-left: 55px;
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.feature-item:nth-child(2n) {
  margin-right: 0;
  padding-left: 60px;
}

.feature-item:nth-child(4){
  padding-right: 5px;
}

.feature-item::before {
  content: "";
  width: 49px;
  height: 49px;
  position: absolute;
  left: 0;
  top: -12px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
}

.feature-item:nth-child(1)::before {
  background-position: -10px -902px;
}

.feature-item:nth-child(2)::before {
  background-position: -10px -485px;
}

.feature-item:nth-child(3)::before {
  background-position: -10px -1233px;
}

.feature-item:nth-child(4)::before {
  background-position: -10px -1588px;
}

.feature-item:nth-child(2n)::before {
  left: 5px;
}

.info-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.info-container .blog,
.info-container .mailing {
  width: 48.9%;
  border-radius: 15px;
  background-color: #ffffff;
}

.info-container .blog {
  margin-right: 2.2%;
  padding: 22px 20px;
  background-image: url("../img/strawberry.jpg");
  background-repeat: no-repeat;
  background-position: 20% 40%;
  background-size: auto;
}

.blog h3 {
  margin: 0;
  margin-bottom: 5px;
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.blog a {
  display: block;
  width: 290px;
  margin-bottom: 20px;
  color: #353535;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8);
}

.mailing {
  padding: 6px;
  background-image: url("../img/pattern-1.jpg");
}

.mailing-inner-container {
  border-radius: 10px;
  background-color: #f8f7f4;
  padding-top: 27px;
  padding-bottom: 34px;
  padding-left: 20px;
  padding-right: 20px;

}

.mailing p {
  margin: 0;
  margin-bottom: 13px;
  min-height: 90px;
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.mailing .mailing-form {
  display: flex;
  background-color: #f8f7f4;
}

.mailing-form input {
  display: inline-block;
  vertical-align: top;
  width: 372px;
  min-width: 230px;
  margin-right: 11px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
  color: #999999;
  line-height: 24px;
  font-size: 16px;
  background-color: #ffffff;
}

.mailing-form .btn {
  display: inline-block;
  vertical-align: top;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

.map {
  position: absolute;
  width: 100%;
  height: 428px;
  left: 0;
  background-color: #f7f1d9;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: 25% -108px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 2.3%;
}


.map-contacts {
width: 300px;
margin-top: 60px;
padding-top: 32px;
padding-bottom: 40px;
padding-right: 23px;
padding-left: 25px;
background-color: #fffefe;
border-radius: 15px;
}

.map-contacts .adress {
  margin:0;
  margin-bottom: 18px;
  color: #323232;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

}

.map-contacts .bold {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}


.map-contacts .phone {
  margin: 0;
  margin-bottom: 33px;
  color: #323232;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.map-contacts .phone .bold {
  display: block;
  margin-top: 5px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.map-contacts .btn-feedback {
  padding-top: 8px;
  padding-bottom: 12px;
  padding-right: 25px;
  padding-left: 29px;
  color: #fefefe;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  padding: 18px 2.3% 20px;
  clear: both;
}

.footer-social {
  padding-top: 18px;
  font-size: 0;
  width: 23%;
}

.footer-social .social-btn {
  display: inline-block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.5);
  font-size: 0;
  margin-right: 11px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.footer-social .social-btn:last-child {
  margin-right: 0;
}

.footer-social .social-btn:hover,
.footer-social .social-btn:active {
  border-color: rgba(255, 255, 255, 0.7);
}

.footer-social .social-btn:active {
  border-color: rgba(255, 255, 255, 0.7);
}
.footer-social .tw-social {
  background-position: -10px -4437px;
}

.footer-social .tw-social:hover {
  background-position: -10px -4541px;
}

.footer-social .tw-social:active {
  background-position: -10px -4489px;
}

.footer-social .inst-social {
  background-position: -10px -1129px;
}

.footer-social .inst-social:hover {
  background-position: -10px -1181px;
}

.footer-social .inst-social:active {
  background-position: -10px -1077px;
  box-shadow: inset 0px 2px 1px #888888;
}

.footer-social .fb-social {
  background-position: -10px -736px;
}

.footer-social .fb-social:hover {
  background-position: -10px -684px;
}

.footer-social .fb-social:active {
  background-position: -10px -632px;
  box-shadow: inset 0px 2px 1px #888888;
}

.footer-social .vk-social {
  background-position: -10px -4645px;
}

.footer-social .vk-social:hover {
  background-position: -10px -4697px;
}

.footer-social .vk-social:active {
  background-position: -10px -4593px;
  box-shadow: inset 0px 2px 1px #888888;
}

.footer-menu {
  width: 420px;
  padding-top: 10px;
  padding-left: 30px;
}

.footer-menu ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  justify-content:flex-start;
}

.footer-menu li {
  width: 170px;;
}

.footer-menu li:nth-child(2n) {
  margin-right: 30px;
}

.footer-menu li:nth-child(2n+1) {
  padding-left: 25px;
}

.footer-menu li:first-child::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 12px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  width: 15px;
  height: 13px;
  background-position: -10px -788px;
  transform: translateY(-50%);
}

.footer-menu li:first-child {
  position: relative;
}

.footer-menu li:first-child a {
  font-weight: bold;
}

.footer-menu a {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 400;
}

.footer-menu a:hover,
.footer-menu:active {
  color: #ffbc9e;
}

.footer-copyright {
  width: 22.2%;
  text-align: right;
  color: #fefefe;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  align-self: flex-end;
}

.footer-copyright .copyright-picture {
  display: block;
  text-align: right;
}

.copyright-picture img {
  display: inline-block;
  margin-right: 80px;
}
.footer-copyright .copyright-text {
  color: #fefefe;
}

.footer-copyright .copyright-text:hover,
.footer-copyright .copyright-text:active  {
  color: #ffbc9e;
}

.main-page {
  margin-bottom: 470px;
  padding-right: 2.3%;
  padding-left: 2.3%;
}

.modal-feedback {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  display: none;
}

.modal-feedback .overlay {
  background-color: #323232;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-feedback .feedback-form {
  position: fixed;
  left: 50%;
  top: 100px;
  margin-left: -239px;
  width: 478px;
  height: 443px;
  padding-top: 20px;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 27px;
  border-radius: 10px;
  background-color: rgb(248, 247, 244);
  z-index: 20;
}

.feedback-form p {
  margin: 0;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.feedback-form input {
  display: block;
  width: 265px;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 13px;
  padding-bottom: 10px;
  border: 1px solid rgb(178, 178, 178);
  border-radius: 5px;
  background-color: #ffffff;
  color: #323232;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.feedback-form input:hover,
 .feedback-form textarea:hover{
  border: 2px solid rgb(211, 211, 210);
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border: 2px solid #8fbdec;
  outline: none;
}

.feedback-form label {
  position: absolute;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #999999;
}

.feedback-form label[for="name"] {
  top: 85px;
  left: 40px;
}

.feedback-form label[for="feedback-mail"] {
  top: 155px;
  left: 40px;
}

.feedback-form label[for="comment"] {
  top: 220px;
  left: 40px;
}
.feedback-form textarea {
  display: block;
  width: 430px;
  margin-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 13px;
  border: 1px solid rgb(178, 178, 178);
  border-radius: 5px;
  background-color: #ffffff;
  color: #999999;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.feedback-form input:focus + label,
.feedback-form textarea:focus + label {
  transform: translateY(-27px);
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;
}

.feedback-form-btn {
  padding: 10px 24px;
  color: #fefefe;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  float: right;
}

.modal-feedback-close {
  position: absolute;
  right: 15px;
  top: 16px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  border: none;
  background: transparent;
}

.modal-feedback-close::before,
.modal-feedback-close::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -3px;
  background-color: #000000;
  width: 25px;
  height:2px;
}

.modal-feedback-close::before {
  transform: rotate(45deg);
}

.modal-feedback-close::after {
  transform: rotate(-45deg);
}



/* Каталог*/

.breadcrumbs {
  position: absolute;
  top: -25px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.breadcrumbs li {
  margin-right: 8px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: normal;
}

.breadcrumbs a:hover:not(.active),
.breadcrumbs a:active {
  color: #ffbc9e;
}

.breadcrumbs li .commas {
  margin-left: 3px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 400;
}

.breadcrumbs li:last-child .commas {
  display: none;
}

.breadcrumbs a.active {
  text-decoration: none;&laquo;
}

.main-title {
  margin: 0;
  margin-bottom: 28px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 500;
  color: #ffffff;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  width: 862px;
  margin-bottom: 40px;
}

.filter-form .sorting-filter {
  border: none;
  margin: 0;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 0;
}

.filter-form legend {
  display: block;
  margin-bottom: 5px;
  padding-left: 15px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 500;
}

.sorting-filter select[id="sorting"] {
  display: inline-block;
  vertical-align: middle;
  width: 210px;
  padding-top: 7px;
  padding-bottom: 6px;
  padding-left: 10px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.select-container {
  position: relative;
  width: 195px;
  border-radius: 20px;
  overflow: hidden;
}

.select-container::after {
  content: "";
  position: absolute;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  width: 9px;
  height: 5px;
  background-position: -10px -1563px;
  top: 18px;
  right: 15px;
}

.select-container:hover::after {
  background-position: -10px -1538px;
}

.sorting-filter select[id="sorting"]:hover {
  color: #323232;
  background-color: #ffffff;
}

.sorting-filter select[id="sorting"] option {
  color: #323232;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.sorting-filter select[id="sorting"] option:hover {
  background-color: rgb(30, 144, 255);
  color: #ffffff;
}

.filter-form .price-filter {
  width: 220px;
  margin: 0;
  margin-right: 13px;
  padding:0;
  border: none;
}

.price-filter legend {
  display: inline-block;
  padding-left: 12px;
}

.price-filter span {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}

.price-filter input[type="text"] {
  display: inline-block;
  width: 28px;
  padding: 0 1px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.price-slider {
  position: relative;
  padding: 16px 15px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  border-radius: 20px;
}

.price-slider .scale {
  width: 188px;
  height: 4px;
  background-color: rgba(248, 247, 244, 0.5);
}

.price-slider .bar {
  width: 107px;
  height: 4px;
  margin-left: 22px;
  background-color: rgb(248, 247, 244);
}

.range-toggle {
  position: absolute;
  top: 50%;
  margin-top: -11px;
  width: 21px;
  height: 22px;
  background-color: rgb(248, 247, 244);
  border-radius: 50%;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.range-toggle:hover {
  width: 24px;
  height: 24px;
}

.range-toggle-min {
  left: 33px;
}

.range-toggle-max {
  left: 132px;
}

.fatness-filter {
  border: none;
  margin: 0;
  padding:0;
  width: 415px;
}

.fatness-filter .fatness-list {
  display: flex;
  margin: 0;
  padding: 0 16px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  border-radius: 20px;
  list-style: none;
}

.fatness-list li {
  margin-right: 20px;
}

.fatness-list li:last-child {
  margin-right: 0;
}

.fatness-list input[type="radio"] + label {
  position: relative;
  margin: 0;
  padding-left: 30px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
}

.fatness-list input[type="radio"] + label::before {
  content: "";
  left: -1px;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.fatness-list input[type="radio"]:checked + label::after {
  content: "";
  left: 4px;
  top: 3px;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
}

.fatness-list input[type="radio"] + label:hover::before {
  border: 2px solid #ffffff;
}

.fatness-list input[type="radio"]:disabled + label::before {
  border: 1px solid rgba(255, 255, 255, 0.4);
  }

.fatness-list input[type="radio"]:checked:disabled + label::after {
    background-color: rgba(255, 255, 255, 0.4);
}

  .filler-filter {
    width: 703px;
    margin: 0;
    margin-right: 13px;
    padding: 0;
    border: none;
}

.filler-filter legend {
  margin-bottom: 8px;
}

.filler-filter .filler-list {
    display: flex;
    margin: 0;
    padding-right: 0px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 7px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    border-radius: 20px;
    list-style: none;
}

.filler-list li {
  margin-right: 20px;
}
.filler-list li:nth-child(3) {
  margin-right: 23px;
}

.fatness-list li:last-child {
    margin-right: 0;
}

.filler-list input[type="checkbox"] + label {
    position: relative;
    margin: 0;
    padding-left: 33px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;
}

.filler-list input[type="checkbox"] + label::before {
    content: "";
    left: 0;
    top: 1px;
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("../img/sprite.png");
    background-position: -10px -214px;
}

.filler-list input[type="checkbox"]:checked + label::before {
  background-position: -10px -254px;
}

.filler-list input[type="checkbox"] + label:hover::before {
  background-position: -10px -414px;
}

.filler-list input[type="checkbox"]:disabled + label::before {
  background-position: -10px -374px;
}

.filler-list input[type="checkbox"]:checked:disabled + label::before {
  background-position: -10px -294px;
}

.filler-list input[type="checkbox"]:checked:hover + label::before {
  background-position: -10px -334px;
}

.filter-form .button-container {
  width: 144px;
  padding-top: 22px;
}

.filter-form-btn {
  display: block;
  padding-top: 7px;
  padding-bottom: 6px;
  padding-left: 28px;
  padding-right: 28px;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.188);
  border-radius: 100px;
  cursor: pointer;
}

.filter-form-btn:hover {
  background-color: rgb(255, 255, 255);
  color: #323232;
  font-weight: bold;
}

.filter-form-btn:active {
  background-color: rgb(237, 237, 237);
  color: #323232;
  font-weight: bold;
  box-shadow: inset 0px 2px 1px 0px #696969;
  border: none;
}

.catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog .catalog-item {
  position: relative;
  width: 23.3%;
  margin-right: 2.2%;
  margin-bottom: 38px;
  text-align: center;
}

.catalog-preview {
  position: relative;
  margin-bottom: 13px;
}

.catalog .catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item-extra {
  display: none;
  position: absolute;
  top: -6px;
  bottom: -75px;
  left: -14px;
  right: -14px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  z-index: 10;
}

.catalog-item:hover .catalog-item-extra {
  display: block;
}

.catalog-item-extra a {
  position: absolute;
  width: 200px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 11px 0px;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.catalog img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  position: relative;
}

.catalog-item .catalog-title {
  position: relative;
  margin: 0;
  padding: 0 8px;
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-decoration: underline;
  z-index: 11;
}

.catalog-item .catalog-title:hover,
.catalog-item .catalog-title:active {
  color: #ffbc9e;
}

.catalog-item .catalog-price {
  position: absolute;
  left: 0;
  bottom: 9px;
  color: #ffffff;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  font-weight: bold;
  z-index: 10;
}

.paginator {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-top: 42px;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.paginator .page-number {
  display: block;
  text-align: center;
  padding-top: 6px;
  width: 27px;
  height: 27px;
  margin-left: 1px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  border-radius: 50%;
}

.paginator .page-number:hover:not(.active) {
  background-color: rgba(255, 255, 255, 0.2);
}

.paginator .page-number:active,
.paginator .page-number.active {
  background-color: rgb(255, 255, 255);
  color: #323232;
}

.paginator .arrow {
  display: block;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  width: 9px;
  height: 27px;
}

.paginator .previous {
  background-position: -10px -60px;
  margin-right: 15px;

}

.paginator .next {
  background-position: -10px -94px;
  margin-left: 15px;
}

.catalog-page {
  position: relative;
  padding-right: 2.3%;
  padding-left: 2.3%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
